{{ define "title" -}}
  {{ .Site.Title }}
{{- end }}
{{ define "main" }}
  {{ partial "menu.html" . }}
  <pre>
   ___    ____ _____ ____ ____ ______ ____ ___    __  ___
  / _ |  / __// ___//  _//  _//_  __// __// _ |  /  |/  /
 / __ | _\ \ / /__ _/ / _/ /   / /  / _/ / __ | / /|_/ /
/_/ |_|/___/ \___//___//___/  /_/  /___//_/ |_|/_/  /_/
  </pre>
  <h3>Latest from the blog:</h3>
  <p>Industry writing and life beyond the screen.</p>
  <ul>
    {{ range  first 3 (where .Site.Pages "Type" "post") }}
    <li><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
  <p>&nbsp;</p>
  <h3>Project quick-links:</h3>
  <p>Check out the <a href="/projects/">Projects</a> page for more background on my past and current open source development work.
  <ul>
    <li>OpenShift - <a href="https://openshift.com/">https://openshift.com</a></li>
    <li>AsciiBinder - <a href="http://asciibinder.org">http://asciibinder.org</a></li>
    <li>SWN Sector Generator - <a href="http://swn.emichron.com/">http://swn.emichron.com/</a></li>
  </ul>
  <p>&nbsp;</p>
  <h3>About me:</h3>
  <p>20+ year tech industry veteran. Currently I help build and manage amazing development teams at <a href="https://redhat.com/">Red Hat</a>.</p>
  <ul>
    <li>LinkedIn - <a href="https://www.linkedin.com/in/nhripps">https://www.linkedin.com/in/nhripps</a></li>
    <li>GitHub - <a href="https://github.com/nhr">https://github.com/nhr</a></li>
    <li>Twitter - <a href="https://twitter.com/asciiteam">https://twitter.com/asciiteam</a></li>
  </ul>
  {{ end }}
{{ define "footer" }}
  <p>&nbsp;</p>
  {{ partial "powered-by.html" . }}
{{ end }}
